# Build-Verzeichnisse
Debug/
Release/
.metadata/
# IDE-Dateien
*.launch
*.cproject
*.project
.settings/

# CubeMX Backup
*.ioc.bak

Handschuh/Core/Src/extern

Handschuh_PC/__pycache__/
Handschuh_PC/logs/
Handschuh_PC/model/
Handschuh_Visualisierung/three
